// footer-top

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 Max(15px, calc(50% - 705px));
  padding-top: 65px;
  padding-bottom: 49px;

  @media #{$tablet} {
    flex-direction: column;
    padding: 0;
  }
}

.footer-top__container {
  margin: 0;
  margin-right: auto;

  @media #{$tablet} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    padding: 20px 25px 25px;

    border-bottom: 1px solid rgba($color: $border-grey, $alpha: 0.2);
  }

  @media #{$mobile} {
    flex-direction: column;
    padding-top: 46px;
    padding-bottom: 53px;
  }
}

.footer-top__accordion {
  margin-left: 20px;

  @media #{$tablet} {
    margin-left: 0;
  }
}

.footer-top__logo {
  display: grid;
  min-width: 220px;
  margin-bottom: 53px;

  grid-gap: 15px;
  grid-template-columns: auto 1fr;

  @media #{$tablet} {
    margin-bottom: 0;
  }

  @media #{$mobile} {
    margin-bottom: 26px;
  }
}

.footer-top__logo p {
  display: grid;
  margin: 0;
  margin-top: 5px;

  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  font-family: $font-roboto-condensed;
  color: var(--logo-black);
  text-transform: capitalize;
}

.footer-top__logo span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: $font-roboto;
  color: var(--logo-grey);
  text-transform: none;
}

.footer-top__info {
  display: none;

  @media #{$tablet} {
    display: block;
    margin: 0 10px;

    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    opacity: 0.5;
  }

  @media #{$mobile} {
    margin-bottom: 30px;
  }
}
