// logo

.logo {
  display: grid;
  align-items: center;
  margin-right: auto;
  padding-right: 15px;

  grid-gap: 15px;
  grid-template-columns: auto auto;
}

.logo img:first-child {
  @media #{$mobile} {
    width: 38px;
  }
}

.logo img:last-child {
  @media #{$mobile} {
    display: none;
  }
}

.logo--full {
  @media #{$mobile} {
    padding-right: 0;
  }
}

.logo--full img:first-child {
  @media #{$mobile} {
    width: unset;
  }
}

.logo--full img:last-child {
  @media #{$mobile} {
    display: unset;
  }
}
