// main

.main {
  padding: 0 Max(135px, calc(50% - 585px));
  padding-top: 109px;
  padding-bottom: 108px;

  background-color: var(--basic-white);
  background-image: url("../img/about-background.png");
  background-repeat: no-repeat;
  background-position: top -30px left 0;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/about-background@2x.png");
  }

  @media #{$tablet} {
    padding: 54px 25px 83px;

    background-image: url("../img/bg-main-triangle.svg");
    background-position: top 90px right 0;
    background-size: 559px auto;
  }

  @media #{$mobile} {
    padding: 37px 15px 65px;

    background-position: top 70% right -120px;
    background-size: 559px auto;
  }
}

.main__advantages {
  margin-bottom: 106px;

  @media #{$tablet} {
    margin-bottom: 54px;
  }

  @media #{$mobile} {
    margin-bottom: 59px;
  }
}
