.page {
  height: 100%;

  font-style: normal;
  font-family: $font-ptmono;
  color: var(--text-grey);

  background-color: var(--basic-white);
}

.page body {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: $small;
  height: 100%;
}

.page main {
  flex-grow: 1;
}
