// sections

.sections {
  flex-grow: 1;
  max-width: 495px;

  @media #{$tablet} {
    max-width: unset;
    margin-right: 10px;
  }

  @media #{$mobile} {
    width: 100%;
    margin-right: 0;
  }
}

.sections h3 {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  font-family: $font-roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media #{$mobile} {
    margin-bottom: 0;
  }
}

.sections__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  @media #{$tablet} {
    flex-direction: column;
  }

  @media #{$mobile} {
    margin-top: 30px;
  }
}

.sections__item {
  flex-grow: 1;
}

.sections__sublist {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 10px;
  padding: 0;

  list-style: none;

  @media #{$mobile} {
    align-self: start;
  }
}

.sections__subitem {
  @media #{$tablet} {
    margin-right: 0;
  }

  @media #{$mobile} {
    align-self: start;
  }
}

.sections__subitem a {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;

  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.7;
  }

  @media #{$mobile} {
    position: relative;
    z-index: 2;
  }
}
